{% extends "back_office//base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block body %}
    <div class="sub-banner">
        <div class="overlay">
            <div class="container">
                <div class="breadcrumb-area">
                    <div class="top">
                        <h1>Change Password</h1>
                    </div>
                    <ul class="breadcrumbs">
                        <li><a href="{{ path('homepage') }}">Home</a></li>
                        <li class="active">Change Password</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="change-password">
        <div class="container">
            <div class="row">

                {{ include('FOSUserBundle:Profile:sidebar.html.twig') }}

                <div class="col-lg-6 col-md-6 col-sm-5">
                    <!-- My address start -->
                    <div class="my-address">
                        <h1>Change Password</h1>

                        <form action="{{ path('fos_user_change_password') }}" method="POST">
                            <div class="form-group">
                                <label for="login-form-first-name">{{ 'form.current_password'|trans }}</label>
                                {{ form_widget(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                                <span style="color: red">{{ form_errors(form.current_password) }}</span>
                            </div>
                            <div class="form-group">
                                <label for="login-form-first-name">{{ 'form.new_password'|trans }}</label>
                                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                <span style="color: red">{{ form_errors(form.plainPassword.first) }}</span>
                            </div>
                            <div class="form-group">
                                <label for="login-form-first-name">{{ 'form.new_password_confirmation'|trans }}</label>
                                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                <span style="color: red">{{ form_errors(form.plainPassword.second) }}</span>
                            </div>
                            <button type="submit"
                                    class="btn button-md button-theme">{{ 'change_password.submit'|trans }}</button>
                            <div class="form-group">
                                {{ form_rest(form) }}
                            </div>
                        </form>
                    </div>
                </div>
                <!-- My address end -->
            </div>
        </div>
    </div>
    </div>
{% endblock %}