<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Chronicle Education Category Bootstrap Responsive website Template | Login :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Chronicle Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="{{asset('bundles/css/bootstrap.css')}}" type="text/css" rel="stylesheet" media="all">
    <!-- shop css -->
    <link href="{{asset('bundles/css/shop.css')}}" type="text/css" rel="stylesheet" media="all">
    <link href="{{asset('bundles/css/style.css')}}" type="text/css" rel="stylesheet" media="all">
    <!-- font-awesome icons -->
    <link href="{{asset('bundles/css/font-awesome.css')}}" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <!-- logo -->
    <link href="{{asset('bundles///fonts.googleapis.com/css?family=Fredericka+the+Great')}}" rel="stylesheet">
    <!-- titles -->
    <link href="{{asset('bundles///fonts.googleapis.com/css?family=Merriweather+Sans:300,300i,400,400i,700,700i,800,800i')}}" rel="stylesheet">
    <!-- body -->
    <link href="{{asset('bundles///fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i')}}" rel="stylesheet">
    <!-- //online-fonts -->
</head>


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- header -->
    <!-- navbar -->
    <!-- header-starts -->
    {{ include('back-office/include/header.html.twig') }}



    <!-- //header-ends -->
    {% block body %}

    {% endblock %}


<!--footer-->
    {{ include('back-office/include/footer.html.twig') }}
<!--//footer-->
<script src="{{ asset('bundles/js/jquery-2.2.3.min.js')}}"></script>
<!-- //js -->
<!--search jQuery-->
<script src="{{ asset('bundles/js/main.js')}}"></script>
<!--search jQuery-->
<!-- cart-js -->
<script src="{{ asset('bundles/js/minicart.js')}}"></script>
<script>
    chr.render();

    chr.cart.on('new_checkout', function (evt) {
        var items, len, i;

        if (this.subtotal() > 0) {
            items = this.items();

            for (i = 0, len = items.length; i < len; i++) {}
        }
    });
</script>
<!-- //cart-js -->

<!-- dropdown nav -->
<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                $(this).toggleClass('open');
            }
        );
    });

</script>
<!-- //dropdown nav -->

<!-- Scrolling Nav JavaScript -->
<script src="{{ asset('bundles/js/scrolling-nav.js')}}"></script>
<!-- //fixed-scroll-nav-js -->
<!-- start-smooth-scrolling -->
<script src="{{ asset('bundles/js/move-top.js')}}"></script>
<script src="{{ asset('bundles/js/easing.js')}}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();

            $('html,body').animate({
                scrollTop: $(this.hash).offset().top
            }, 1000);
        });
    });
</script>
<!-- //end-smooth-scrolling -->
<!-- smooth-scrolling-of-move-up -->
<script>
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear'
         };
         */

        $().UItoTop({
            easingType: 'easeOutQuart'
        });

    });
</script>
<script src="{{ asset('bundles/js/SmoothScroll.min.js')}}"></script>
<!-- //smooth-scrolling-of-move-up -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ asset('bundles/js/bootstrap.js')}}"></script>
</body>

</html>